@font-face {
  font-family: 'iconfont';  /* project id 538088 */
  src: url('//at.alicdn.com/t/font_538088_73obd5qvoswcdi.eot');
  src: url('//at.alicdn.com/t/font_538088_73obd5qvoswcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_538088_73obd5qvoswcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_538088_73obd5qvoswcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_538088_73obd5qvoswcdi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.c-gray {
  color: #909399;
}
.c-primary {
  color: #303133;
}
.c-secondary {
  color: #606266;
}
.c-orange {
  color: #FF9900;
}

.bg-white {
  background: #fff;
}
.text-small {
  font-size: .8rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
